body {
    display: flex; /* ...why did I put this here? It concerns me...maybe it's causing issues... */
    min-height: 100vh;
    flex-direction: column;
}

#side-nav-title {
    font-size: 24px;
}

main {
    flex: 1 0 auto;
}
      
.back {
    margin-top: 1em;
}

.left-margin-fix {
    margin-left: 0.75em; /* ugh */
}

#page-list .add {
    margin-left: 1em;
}

.section {
    padding: 0px;
}

.section-buttons {
    margin-left: 1.2em;
}

.section-items {
    margin-left: 1em;
}

.home-buttons {
    margin-top: 1em;
}

.sortable-item {
    margin-left: 0.90em;
}

.section-info {
    margin-left: 0.65em;
}

.divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(33,150,243,0.7);
}

#table-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

#loading-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#table-controls button {
    margin-left: 1em;
    margin-bottom: 1em;
}

#start-quiz-btn, #flash-cards-btn {
    margin-top: 1em;
}

#flash-cards-btn {
    margin-left: 1em;
}

#question-types {
    margin-top: -1em;
    margin-bottom: -1em;
}

#question-order {
    margin-top: 2em;
    margin-bottom: -1em;
}

#question-filtering {
    margin-top: 2em;
    margin-bottom: -1em;
}

#unflag-question .input-field {
    margin-top: -2em;
    margin-bottom: 1em;
}

#unflag-question label {
    left: 0;
}

#question-type-paragraph {
    margin-bottom: -1em;
}

#question-type-choice {
    margin-bottom: 1em;
}

.negative-top-margin {
    margin-top: -1em;
}

.right-margin {
    margin-right: 1em;
}

.hidden {
    display: none;
}
/* https://stackoverflow.com/a/38251646/3938401 */
.no-uppercase {
    text-transform: none;
}

#fill-in-data {
    line-height: 2;
}

.fill-in-blank-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    min-width: 4em;
    display: inline-block;
    margin-top: 1em;
    /*text-align: center;*/
}

.fill-in-blank-input:disabled, #quiz-answer:disabled {
    border-bottom: 1px solid black !important;
    color: inherit !important;
}

/* https://stackoverflow.com/a/34961662/3938401 */
[contenteditable] b {
  font-weight: normal;
}
    
[contenteditable] i {
  font-style: normal;
}

#question-fill-in {
    margin-top: -1em;
    margin-bottom: 2em;
    margin-left: -8px;
}

.nowrap { 
    white-space: nowrap; 
}

#fill-in-percent-div {
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: -2em;
}

p#quiz-question-show-answer {
    margin-top: 2em;
    margin-bottom: 0.75em;
    margin-left: 0.75em;
}

h6#user-points-earned {
    margin-top: 1em;
    margin-left: 3px;
}

h5#question-text {
    margin-left: 11px;
}

#extra-home-info .row {
    margin-bottom: 0em;
}

#extra-home-info ul {
    margin-top: 0em;
    margin-left: 1.2em;
}