body {
    display: flex;
    /* ...why did I put this here? It concerns me...maybe it's causing issues... */
    min-height: 100vh;
    flex-direction: column;
}

html {
    background-color: #fafafa;
}

html[data-bs-theme="dark"] html,
html[data-bs-theme="dark"] body {
    background-color: #212528;
}

html[data-bs-theme="dark"] nav.navbar {    
    box-shadow: 0px 1px 2px rgba(184, 184, 184, 0.5) !important;
    background-color: #5ea48b !important;
}

html[data-bs-theme="dark"] footer {    
    box-shadow: 0px -1px 2px rgba(184, 184, 184, 0.5) !important;
    background-color: #5ea48b !important;
}

html[data-bs-theme="dark"] body .breadcrumb {
    background-color: rgb(67, 67, 67);
}

html[data-bs-theme="dark"] .dataTables_filter label {
    color: #dee2e6 !important;
}

html[data-bs-theme="dark"] input::placeholder,
html[data-bs-theme="dark"] textarea::placeholder {
    color: rgb(121, 121, 121) !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection,
html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: var(--bs-border-radius);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
    border: var(--bs-border-width) solid var(--bs-border-color);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

html[data-bs-theme="dark"] .select2-results {
    background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"] .select2-results li {
    background-color: #303234;
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--highlighted {
    background-color: #4c5154;
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected {
    color: var(--bs-body-color);
    background-color: #3b5b78;
}

html[data-bs-theme="dark"] .select2-search.select2-search--dropdown {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"]  .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%236b6b6a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:hover {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23888'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") 50%/.75rem auto no-repeat;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear:hover, .select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear:hover,
html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear:hover {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23888'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") 50%/.75rem auto no-repeat;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #48aca2;
    --bs-btn-border-color: #48aca2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(53, 150, 141);
    --bs-btn-hover-border-color: rgb(53, 150, 141);
    --bs-btn-focus-shadow-rgb: 72,143,192;
    --bs-btn-active-color: #eee;
    --bs-btn-active-bg: rgb(49, 138, 129);
    --bs-btn-active-border-color: rgb(49, 138, 129);
    --bs-btn-active-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    --bs-btn-disabled-color: #eee;
    --bs-btn-disabled-bg: #48aca2;
    --bs-btn-disabled-border-color: #48aca2;
}

html[data-bs-theme="dark"] .btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5ea48b;
    --bs-btn-border-color: #5ea48b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #518b77;
    --bs-btn-hover-border-color: #518b77;
    --bs-btn-focus-shadow-rgb: 72,143,192;
    --bs-btn-active-color: #eee;
    --bs-btn-active-bg: rgb(39, 118, 110);
    --bs-btn-active-border-color: rgb(39, 118, 110);
    --bs-btn-active-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    --bs-btn-disabled-color: #eee;
    --bs-btn-disabled-bg: #5ea48b;
    --bs-btn-disabled-border-color: #5ea48b;
}

button.nav-link:hover {
    background-color: rgb(228, 228, 228);
}

html[data-bs-theme="dark"] button.nav-link:hover {
    background-color: rgb(77, 77, 77);
}

html[data-bs-theme="dark"] table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before {
    color: rgb(135, 135, 135);
}

html[data-bs-theme="dark"] .quiz-bank,
html[data-bs-theme="dark"] ul.answers .answer-item {
    background-color: #222;
}

html[data-bs-theme="dark"] ul.quiz-bank li.quiz-list-item,
html[data-bs-theme="dark"] ul.answers li.answer-item,
html[data-bs-theme="dark"] div.answer-item ul.answer-drop {
    color: #eee;
    background-color: #474747;
}

html[data-bs-theme="dark"] li.sortable-drop-placeholder {
    background-color: #5d828f !important;
}

html[data-bs-theme="dark"] .fill-in-blank-input:disabled, 
html[data-bs-theme="dark"] #quiz-answer:disabled {
    background-color: var(--bs-secondary-bg);
}

html[data-bs-theme="dark"] .nav-tabs .nav-item.show .nav-link, 
html[data-bs-theme="dark"] .nav-tabs .nav-link.active {
    color: #50aaef;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: #50caef;
}

html[data-bs-theme="dark"] .nav-tabs .nav-item.show .nav-link, 
html[data-bs-theme="dark"] .nav-tabs .nav-link.active {
    box-shadow: inset 0 -2px 0 #42a9c8;
}

html[data-bs-theme="dark"] ul.nav-tabs li.nav-item .nav-link:not(.active) {
    color: #777;
}

nav.navbar {
    background-color: #4db6ac !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

footer {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.4) !important;
    margin-top: 1em;
}

footer, footer a {
    background-color: #4db6ac !important;
    color: white;
}

#side-nav-title {
    font-size: 24px;
}

main {
    flex: 1 0 auto;
}

.back {
    margin-top: 1em;
}

.left-margin-fix {
    margin-left: 0.75em;
    /* ugh */
}

#page-list .add {
    margin-left: 1em;
}

.section {
    padding: 0px;
}

.section-buttons {
    margin-left: 1.2em;
}

.section-items {
    margin-left: 1em;
}

.sortable-item {
    margin-left: 0.90em;
}

.divider {
    margin-top: 1em;
    margin-bottom: 1em;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(33, 150, 243, 0.7);
}

#table-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

#loading-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#table-controls button {
    margin-left: 1em;
    margin-bottom: 1em;
}

.flash-cards-btn {
    margin-top: 1em;
}

.flash-cards-btn {
    margin-right: 1em;
}

#unflag-question .input-field {
    margin-top: -2em;
    margin-bottom: 1em;
}

#unflag-question label {
    left: 0;
}

.right-margin {
    margin-right: 1em;
}

.hidden {
    display: none;
}

/* https://stackoverflow.com/a/38251646/3938401 */
.no-uppercase {
    text-transform: none;
}

#fill-in-data {
    line-height: 2;
}

.fill-in-blank-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    min-width: 4em;
    display: inline-block;
    vertical-align: text-bottom;
    padding-bottom: 0em;
    padding-left: 0.25em;
    /*text-align: center;*/
}

.fill-in-blank-input:disabled,
#quiz-answer:disabled {
    border-bottom: 1px solid black !important;
    color: inherit !important;
    border-radius: 0.25em 0.25em 0em 0em;
    background-color: #eaeaea;
}

/* https://stackoverflow.com/a/34961662/3938401 */
[contenteditable] b {
    font-weight: normal;
}

[contenteditable] i {
    font-style: normal;
}

.nowrap {
    white-space: nowrap;
}

#days-back-div {
    margin-left: 0.75em;
    margin-top: 3em;
    margin-bottom: -2em;
}

h5#countdown-text {
    display: inline;
}

h5#question-pretimer {
    display: inline;
}

h5#question-timer {
    display: inline;
    vertical-align: text-bottom;
}

h5#seconds-text {
    margin-left: .1em;
    display: inline;
}

#timer-icon {
    display: inline;
    font-size: 2rem;
    vertical-align: text-bottom;
}

p#quiz-question-show-answer {
    margin-bottom: 0.75em;
}

#extra-home-info .row {
    margin-bottom: 0em;
}

#extra-home-info ul {
    margin-top: 0em;
    margin-left: 1.2em;
}

/* label focus color https://stackoverflow.com/a/37127156/3938401 */
.blue-inputs input[type=text]:focus+label {
    color: #4285f4;
}

/* label underline focus color https://stackoverflow.com/a/37127156/3938401 */
.blue-inputs input[type=text]:focus {
    border-bottom: 1px solid #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
}

.div-below-selector {
    margin-top: -4em;
}

.margin-button {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#quiz-tabs {
    margin-top: 1em;
    margin-bottom: 1em;
}

#quiz-answer {
    margin-top: 0em;
    margin-bottom: 0em;
}

#history-fill-in {
    margin-left: 1em;
}

ol#history-list ul {
    list-style: none;
    padding-left: 0;
}

#stats-progress {
    margin-left: 1em;
}

.table-input[type=number]:not(.browser-default) {
    margin-bottom: 0em;
}

#weighted-question-table td {
    padding-bottom: 5px;
    padding-top: 5px;
}

#language-select-container {
    padding-top: 1em;
}

#book-select-container {
    margin-top: -1.2em;
    margin-bottom: -1em;
}

#language-select-add-edit-question-container {
    margin-top: -1.2em;
    margin-bottom: -1em;
}

.dataTables_wrapper div.row {
    margin-top: 1em;
    margin-bottom: 0em;
}

.dataTables_wrapper div.row:nth-child(1) label {
    font-size: 16px;
    color: black;
}

.dataTables_wrapper div.row:nth-child(2) {
    margin-top: 0em;
    margin-bottom: 0em;
}

.rounded-border {
    border-radius: 4px !important;
}

p.quiz-bank-item {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
}

p.quiz-bank-item .drag-handle {
    cursor: move;
}

p.quiz-bank-item span {
    margin-left: 0.5em;
}

div.quiz-bank-container {
    padding-right: 1.5em;
}

ul.quiz-bank {
    border: 1px solid gray;
    border-radius: 4px;
    min-height: 50px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: rgb(230, 238, 255);
}

ul.quiz-bank li {
    list-style: none;
    margin-left: 0;
    border: 1px solid #333;
    background-color: white;
    min-height: 32px;
}

ul.quiz-bank li:not(:last-child) {
    margin-bottom: 0.5em;
}

div.answers-container {
    border-left: 2px solid black;
    padding-left: 1.5em;
}

ul.answers {
    padding-left: 0;
    list-style: none;
}

ul.answers li:not(:last-child) {
    margin-bottom: 0.75em;
}

ul.answer-drop {
    padding-left: 0;
    margin-top: 0.25em;
}

div.answer-item {
    background-color: rgb(230, 238, 255);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    margin: 0;
    padding: 0.5em;
}

div.answer-item.wrong-quiz-answer {
    background-color: rgb(255, 188, 188);
}

div.answer-item.correct-quiz-answer {
    background-color: rgb(171, 218, 168);
}

div.answer-item ul.answer-drop {
    min-height: 32px;
    border: 1px solid rgb(51, 51, 51);
    background-color: white;
}

div.answer-item ul.answer-drop li {
    list-style: none;
    margin-left: 0;
}

div.answer-item div.col {
    margin: 0;
    padding: 0;
}

div.answer-item .answer-text-container {
    min-height: 25px;
    margin: 0;
    padding-left: 0.5em;
}

li.sortable-drop-placeholder,
li.sortable-drag {
    background-color: #c0eefd !important;
}

.matching-quiz-page-title {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
}

.matching-quiz-set-title {
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.matching-quiz-col-title {
    font-size: 24px;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
}

ul.list-style-none {
    list-style-type: none;
}

.btn-tertiary{--bs-btn-color:#fff;--bs-btn-bg:#9934e6;--bs-btn-border-color:#9934e6;--bs-btn-hover-color:#fff;--bs-btn-hover-bg:#890ce9;--bs-btn-hover-border-color:#9934e6;--bs-btn-focus-shadow-rgb:82,114,234;--bs-btn-active-color:#fff;--bs-btn-active-bg:#9934e6;--bs-btn-active-border-color:#9934e6;--bs-btn-active-shadow:0 1px 2px rgba(0, 0, 0, 0.05);--bs-btn-disabled-color:#fff;--bs-btn-disabled-bg:#3459e6;--bs-btn-disabled-border-color:#3459e6}.btn-secondary{--bs-btn-color:#000;--bs-btn-bg:#fff;--bs-btn-border-color:#fff;--bs-btn-hover-color:#000;--bs-btn-hover-bg:white;--bs-btn-hover-border-color:white;--bs-btn-focus-shadow-rgb:217,217,217;--bs-btn-active-color:#000;--bs-btn-active-bg:white;--bs-btn-active-border-color:white;--bs-btn-active-shadow:0 1px 2px rgba(0, 0, 0, 0.05);--bs-btn-disabled-color:#000;--bs-btn-disabled-bg:#fff;--bs-btn-disabled-border-color:#fff}

.breadcrumb {
    padding: 0em;
    padding-left: 1em;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
}

.breadcrumb-item {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 0em;
    padding-left: 0em;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.5em;
}

.dataTables_filter {
    float: left;
}

thead th {
    text-transform: none;
}

.table td {
    vertical-align: middle;
}

.valign-middle {
    vertical-align: middle;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection[aria-expanded="true"] {
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}

.loading-text {
    font-size: 18px;
}

.nav-pills .nav-link.active.nav-link-info {
    background-color: rgb(var(--bs-info-rgb));
}

.reset-answers-button {
    color: black;
}

.form-control::placeholder {
    color: #ccc;
}

.navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
}

.align-center-flex {
    align-self: center;
}

.align-bottom-button {
    align-self: flex-end;
}

.honeybuzz {
    /* honeypot */
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    z-index: -1;
}

.toast-header .status-icon {
    display: none;
}

ul#question-type-choice li button:not(.active),
ul#display-types li button:not(.active) {
    color: #aaa;
}