.back {
    margin-top: 1em;
}

.input-container {
    margin-left: 0px;
}

.mdl-textfield {
    margin-left: 1em;
}

.mdl-checkbox {
    margin-left: 1em;
}

.mdl-button {
    margin-left: 1em;
}

.mdl-data-table {
    margin-left: 1em;
}