{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin/years') }}">Back</a></p>

<div id="make-year-current">
    <h4> Are you sure you want to make {{ year.year }} the website's current year? This will change which questions are displayed, which books are used, which commentaries are used, and which study guides are available. Only do this if you're SURE you know what you're doing!</h4>
    <form method="post">
        <button class="btn waves-effect waves-light submit blue white-text" type="submit" name="action">Make {{ year.year }} the current year</button>
    </form>
</div>

{% endblock %}