{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin/commentaries') }}">Back</a></p>

<h2>Delete Commentary</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-user">
    <h4> Are you sure you want to remove SDA Bible Commentary {{ commentary.number }} for the year {{ commentary.year }} from the available commentaries list?</h4>
    <form method="post">
        {{ csrf('delete-commentary') | raw }}
        <button class="btn waves-effect waves-light submit red white-text" type="submit" name="action">Delete Commentary</button>
    </form>
</div>

{% endblock %}