{% if error %}
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
    </div>
{% endif %}