<IfModule mod_rewrite.c>

    RewriteEngine On
    Options -Indexes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ init.php/$1?%{QUERY_STRING} [L]

    RewriteRule ^phinx\.yml$ - [F]
    RewriteRule ^config\.php$ - [F]
    RewriteRule ^config.sample\.php$ - [F]
    RewriteRule ^database\.php$ - [F]
    RewriteRule ^config-private-sample\.php$ - [F]
    RewriteRule ^config-private\.php$ - [F]
    RewriteRule ^config\.php$ - [F]
    RewriteRule ^TODO\.txt$ - [F]
</IfModule>
