{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin/home-sections/' ~ conference.conferenceID ~ '/sections') }}">Back</a></p>

<h4>{{ isCreating ? 'Create' : 'Edit' }} Section</h4>

{% include 'includes/error-message.twig' %}

<div id="edit-line-item">
    <form method="post">
        <div class="row">
            <div class="input-field col s12 m4">
                <input type="text" id="section-name" name="section-name" value="{{ section.name }}" required data-length="150"/>
                <label for="section-name">Section Name</label>
            </div>
            <div class="input-field col s12 m4">
                <input type="text" id="section-subtitle" name="section-subtitle" value="{{ section.subtitle }}" data-length="300"/>
                <label for="section-subtitle">Section Subtitle</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light submit" type="submit" name="action">Save</button>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    });
</script>

{% endblock %}
