
{% extends "layouts/main.twig" %}

{% block headers %}

{% include 'includes/scripts/datatables.twig' %}

{% endblock %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href=".">Back</a></p>

<h4>Non-blankable Words</h4>

<div id="words-div">
    <p>Non-blankable words will NOT be replaced by ___ blanks when generating fill-in-the-blank questions.</p>
    <div class="section" id="create">
        <h5>Add Non-blankable Word</h5>
        <form action="{{ app.yurl('/admin/non-blankable-words/create') }}" method="post">
            <div class="row">
                <div class="input-field col s12 m4">
                    <input type="text" id="blankable-word" name="blankable-word" value="" required data-length="300"/>
                    <label for="blankable-word">Non-blankable Word</label>
                </div>
                <div class="input-field col s12 m4">
                    <button class="inline btn waves-effect waves-light submit" type="submit" name="action">Add Word</button>
                </div>
            </div>
        </form>
    </div>
    <div class="divider"></div>
    {% if nonBlankableWords | length > 0 %}
        <table class="striped" id="words-table">
            <thead>
                <tr>
                    <th>Word</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for word in nonBlankableWords %}
                    <tr>
                        <td>{{ word.word }}</td>
                        <td><a class="waves-effect waves-light btn" href="{{ app.yurl('/admin/non-blankable-words/' ~ word.wordID ~ '/edit') }}">Edit Word</a></td>
                        <td><a class="waves-effect waves-light btn red white-text" href="{{ app.yurl('/admin/non-blankable-words/' ~ word.wordID ~ '/delete') }}">Delete Word</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function() {
        datatablesProps.columnDefs = [
            { orderable: false, targets: [-1, -2] }
        ];
        datatablesProps.language = {
            searchPlaceholder: "Search words..."
        };
        datatablesProps.order = [[ 0, 'asc' ]];
        $('#words-table').DataTable(datatablesProps);
    });
</script>

{% endblock %}
