{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Active Clubs</li>
    </ol>
</nav>

<h1>Last 30 Days</h1>

{{ include('includes/active-club-display.twig', {
    clubCount: thirtyDayClubCount,
    clubs: thirtyDayClubs,
    conferences: conferences,
    conferenceCounts: thirtyDayConferenceCounts,
    numDays: 30
}) }}

<hr/>

<h1>Last 365 Days</h1>

{{ include('includes/active-club-display.twig', {
    clubCount: yearClubCount,
    clubs: yearClubs,
    conferences: conferences,
    conferenceCounts: yearConferenceCounts,
    numDays: 365
}) }}

{% endblock %}
