{% extends "layouts/main.twig" %}

{% block content %}

<h2>Welcome!</h2>

<p>Please type in your access code below. Don't have an access code? Please <a href="{{ app.yurl('/about') }}">view the About page by clicking here</a> to contact us and get access!</p>

{% include 'includes/error-message.twig' %}

<form method="post">
    <div class="row">
        <div class="input-field col s12 m4">
            <input type="password" id="access-code" name="access-code" required/>
            <label for="access-code">Access code</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light submit" type="submit" name="action">Login</button>
</form>

{% endblock %}
