{% extends "layouts/main.twig" %}

{% block content %}

<h2>Welcome to {{ app.websiteName }}!</h2>

<div class="row">
    <div class="col-12 col-sm-9">
        <p>Please type in your access code below. Don't have an access code? Please <a href="{{ app.yurl('/about') }}">view the About page by clicking here</a> to find your conference's contact person to get an access codde, use this site's <a href="{{ app.yurl('/contact') }}">contact form</a> to request a code, or use code <code>4guest</code> to get a preview of the website. <strong>Access codes are 100% free</strong>. We do not charge for use of this website.</p>
    </div>
</div>

{% include 'includes/error-message.twig' %}

<form method="post">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="access-code" class="col-form-label">Enter your access code here:</label>
        </div>
        <div class="form-group-inline col-auto">
            <input class="form-control" type="password" id="access-code" name="access-code" required placeholder="Access Code" autofocus/>
            {# <label for="access-code">Enter your access code here</label> #}
        </div>
    </div>
    <button class="btn btn-primary mt-1" type="submit" name="action"><i class="fas fa-door-open"></i> Login</button>
</form>

<div class="row mt-2">
    <div class="col-sm-8">
        <p><em>Why are access codes required?</em> Login access codes are required to prevent system abuse in case someone with access to edit questions or add/remove users decides to do things that aren't kind to other users. If someone decides to do things that aren't kind, then website administrators can remove their access to the system.</p>
    </div>
</div>

{% endblock %}
