{% extends "layouts/main.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ app.yurl('/') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ app.yurl('/admin/study-guides') }}">Manage Study Guides</a></li>
        <li class="breadcrumb-item active" aria-current="page">Rename Study Guide</li>
    </ol>
</nav>

<h4>Rename Study Guide</h4>

{% include 'includes/error-message.twig' %}

<div id="rename-study-guide">
    <form method="post">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4">
                <label for="display-name">* Display Name</label>
                <input type="text" class="form-control" id="display-name" name="display-name" maxlength="300" required value="{{ studyGuide.displayName }}" placeholder="My Best Study Guide"/>
            </div>
        </div>
        <button class="btn btn-sm btn-primary mt-2" type="submit" name="action"><i class="fas fa-save"></i> Save Changes</button>
    </form>
</div>

{% endblock %}
