{% extends "layouts/main.twig" %}

{% block content %}

<p><a class="btn-flat blue-text waves-effect waves-blue no-uppercase" href="{{ app.yurl('/admin/study-guides') }}">Back</a></p>

<h2>Delete Study Guide</h2>

{% include 'includes/error-message.twig' %}

<div id="delete-study-guide">
    <h4> Are you sure you want to delete the study guide {{ studyGuide.displayName }} for the year {{ studyGuide.year }}? </h4>
    <form method="post">
        {{ csrf('delete-study-guide') | raw }}
        <button class="btn btn-danger btn-sm" type="submit" name="action"><i class="fas fa-trash-alt"></i> Delete Study Guide</button>
    </form>
</div>

{% endblock %}