name: Run Tests

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

    # example of using PHP unit in GitHub actions:
    # https://github.com/php-actions/example-phpunit

      - name: Cache Composer dependencies
        uses: actions/cache@v4.3.0
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

      # https://github.com/marketplace/actions/composer-php-actions
      # extension list:
      # https://github.com/mlocati/docker-php-extension-installer#supported-php-extensions
      - name: Install Composer dependencies
        uses: php-actions/composer@v6
        with:
          php_version: 8.4
          dev: yes
          php_extensions: gd zip

      - name: Run PHPUnit Tests
        uses: php-actions/phpunit@v3
        # env:
        #   TEST_NAME: Scarlett
        with:
          php_version: 8.4
          php_extensions: gd zip
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          version: 10
        # args: --coverage-text